body{
    background-image: url("images/b6.jpg");
    font-family:Arial, Helvetica, sans-serif ;
    color:whitesmoke;
    margin: 0;
    padding: 0;
    background-position:top;

}
header{
    background-image: url("images/bg2.png");
    color:whitesmoke;
    padding: 30px;
    padding-bottom: 10px;
    background-position: bottom;
    overflow: hidden;

}
#logo a{
    background-image:url("images/cyber-yodha.png");
    background-size: 300px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 100px;
    position: relative;
    text-indent: -9999999px;
    top:-20px;
    width: 300px;
    margin-left:0;
    padding-left:0;
    background-position:center;
 
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li{
    display: inline-block;
    margin-right: 10px;
    margin-bottom:0;
    padding-bottom:0;
    
}
a{
    color: white;
    text-decoration: none;
    font-size: large;
    margin-bottom: 10px;
}
a:hover{
    text-decoration: underline;

}
.abbac{
    background:url("images/webab1.png");
    height:400px;
    background-position:bottom;
}
#te1{
    background:black;
    width:300px;
    position: relative;
    left:620px;
    top:100px;
    text-align: center;
    border-radius:20%;
}
.a-b{
    background:#798b92;
    color:black;
    margin-top:0;
    padding-top:0;
}
.ab{
    text-align: center;
    font-size:20px;
}
#ti1{
    font-size: 72px;;
}
.abi{
    width:300px;
    height:250px;
    margin-bottom:0px;
    padding-bottom:0px;
    padding:10px;
    border-radius:50%;
}
.abimg{
    background:#798b92;
    padding:25px;
    margin:10px;

}
figcaption{
    color:black;
    text-align:center;
}

p{
    padding:15px;
    margin:10px;
    padding-bottom:0;
    margin-bottom:0px;
    padding-top:5px;
    margin-top:0px;
}
.imp-links{
    background:black;
    color:whitesmoke;
    padding: 0px;
    font-size:24px;
    margin:0;
    height:440px;
   
}
.imp-linksi{
    background:black;
    color:whitesmoke;
    padding: 0px;
    font-size:24px;
    margin:0;
    height:440px;

}
.foot{
    
    margin-left: 20px;
    display:flex;
    flex-direction: column;
    padding-top:10px;
    width:200px ;
    
}
.foot-img{
    background:whitesmoke;
    width:150px;
    height:70px;
    position: relative;
    top:0px;
    left:420px;
    bottom:200px;
    margin: 0;
    padding: 0;
}

::selection{
    color: #fff;
    background: #007bff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.start_btn,
.info_box,
.quiz_box,
.result_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.start_btn button{
    width: 300px;
    height:200px;
    font-size: 28px;
    font-weight: 500;
    color:orchid;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 30px;
    background-image: url("images/quizbac1.jpg");
    cursor: pointer;
    background-position:center ;
}

.info_box{
    width: 540px;
    height: 450px;
    background:black;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.info_box .info-title{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-radius: 5px 5px 0 0;
    font-size: 24px;
    font-weight: 600;
}

.info_box .info-list{
    padding: 25px 50px;
}

.info_box .info-list .info{
    margin: 30px 0;
    font-size: 17px;
}

.info_box .info-list .info span{
    font-weight: 600;
    color:orange;
}
.info_box .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    border-top: 1px solid lightgrey;
}

.info_box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}

.quiz_box{
    width: 550px;
    background:black;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.quiz_box header{
    position: relative;
    z-index: 2;
    height: 70px;
    padding: 0 30px;
    background:black;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}

.quiz_box header .title{
    font-size: 20px;
    font-weight: 600;
}

.quiz_box header .timer{
    color:orange;
    background:black;
    border: 1px solid #b8daff;
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
}

.quiz_box header .timer .time_left_txt{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quiz_box header .timer .timer_sec{
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color:whitesmoke;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #343a40;
    border: 1px solid #343a40;
    user-select: none;
}


.quiz-sec{
    padding: 25px 30px 20px 30px;
    background:black;
}

section .que_text{
    font-size: 25px;
    font-weight: 600;
}

section .option_list{
    padding: 20px 0px;
    display: block;   
}

section .option_list .option{
    background:black;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .option_list .option:last-child{
    margin-bottom: 0px;
}

section .option_list .option:hover{
    color: orchid;
    background: blue;
    border: 1px solid #b8daff;
}

section .option_list .option.correct{
    color: #155724;
    background: #d4edda;
    border: 1px solid #c3e6cb;
}

section .option_list .option.incorrect{
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}

section .option_list .option.disabled{
    pointer-events: none;
}

section .option_list .option .icon{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 24px;
}
.option_list .option .icon.tick{
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}

.option_list .option .icon.cross{
    color: #a42834;
    background: #f8d7da;
    border-color: #a42834;
}

.qf{
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
}

footer .total_que span{
    display: flex;
    user-select: none;
}

footer .total_que span p{
    font-weight: 500;
    padding: 0 5px;
}

footer .total_que span p:first-child{
    padding-left: 0px;
}

footer button{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color:black;
    border-radius: 5px;
    background: #007bff;
    border: 1px solid #007bff;
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}

footer button:hover{
    background: #0263ca;
}

footer button.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.result_box{
    background-image: url("images/resultbac.jpg");
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 450px;
    height: 300px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    color: whitesmoke;
    background-position:center;
}

.result_box .icon{
    font-size: 100px;
    color: #007bff;
    margin-bottom: 10px;
}

.result_box .complete_text{
    font-size: 20px;
    font-weight: 500;
}

.result_box .score_text span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.result_box .score_text span p{
    padding: 0 4px;
    font-weight: 600;
}

.result_box .buttons{
    display: flex;
    margin: 20px 0;
}

.result_box .buttons button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}

.buttons button.restart{
    color: #fff;
    background: #007bff;
}

.buttons button.restart:hover{
    background: #0263ca;
}

.buttons button.quit{
    color: #007bff;
    background: #fff;
}

.buttons button.quit:hover{
    color: #fff;
    background: #007bff;
}
.a1{
    display:flex;
    flex-direction: row-reverse;
    width: 400px;
    position:absolute; 
    left:1000px;
    top:1700px;
}
.a2{
    position:absolute;
    left:700px;
    top:-30px;
    overflow: hidden;
}

.faq{
    background-color:#7e99a3;
    margin:20px;
    color:black;
    font-size: large;
}
#r{
    color:darkblue;
}
.ql{
    margin:0;
    padding:0;
}
.qll{
    padding:10px;
    display:flexbox;
    flex-direction: column;
}
.a1f{
    
    width: 400px;
    position:absolute; 
    left:1000px;
    top:1150px;
}
#cy{
    width:450px;
    position: absolute;
    top:940px;
    margin-left:10px;
}
#cyc{
    background:black;
    width:450px;
    position: relative;
    top:-70px;
    font-size:28px;
    border-radius:30%;
    text-align:center;
    color:whitesmoke;
}

#t1{
    width: 300px;
    height:300px;
    padding:20px;
    border-radius:30px ;
}
#t2{
    width: 300px;
    height:300px;
    padding:20px; 
    border-radius:30px ;
}
.collapsible {
    background-color:#526974;
    color:black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border:black;
    border-style:solid;
    border-bottom:hidden;
    text-align: left;
    font-size: 20px;
  }
.active, .collapsible:hover {
    background-color:#aeccd5;
  }
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color:#7e99a3;
  }
@media only screen and (max-width: 730px){
    li{
        display: flex;
        flex-direction: column;
    }
    .foot-img{
        position:relative;
        left:20px;
        top:60px;
        padding: 0;
        margin:0;
    }
 .a1f{
     position: absolute;
     left:-100000000000px;
 }
 .a2{
     position:absolute;
     left:-1000000000px;
 }
 .start_btn{
     top:500px;
 }
 .info_box{
     width:300px;
     height:600px;
     top:600px;
 }
 .quiz_box{
     width:400px;
     top:550px;
 }
 #cy{
     top:-1000000000000000000px;
 }
 #cyc{
     top:-10000000000000000px;
    
 }
 .imp-linksi{
     position: relative;
     top:30px;
 }  
 .result_box{
    top:500px;
 } 
}

